<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Veículo</h1>

    <form action="/cadastrar_veiculo" method="POST">

        <label>Modelo do veículo:</label><br>
        <input type="text" name="modelo" required>
        <br><br>

        <label>Placa do veículo:</label><br>
        <input type="text" name="placa" required>
        <br><br>

        <label>Tipo de veículo:</label><br>
        <select name="tipo">
            <option value="carro">Carro</option>
            <option value="moto">Moto</option>
            <option value="van">Van</option>
            <option value="caminhao">Caminhão</option>
        </select>
        <br><br>

        <button type="submit">Cadastrar Veículo</button>
    </form>
    <br>
    <a href="/">Voltar ao Menu</a>
    
</body>
</html>